---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  cppcoreguidelines-pro-type-const-cast,
  cppcoreguidelines-pro-type-cstyle-cast,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-pro-type-reinterpret-cast,
  cppcoreguidelines-pro-type-static-cast-downcast,
  cppcoreguidelines-slicing,
  google-build-using-namespace,
  google-explicit-constructor,
  google-readability-casting,
  misc-definitions-in-headers,
  misc-misplaced-widening-cast,
  misc-redundant-expression,
  misc-unused-using-decls,
  modernize-avoid-bind,
  modernize-avoid-c-arrays,
  modernize-deprecated-headers,
  modernize-loop-convert,
  modernize-make-shared,
  modernize-make-unique,
  modernize-pass-by-value,
  modernize-redundant-void-arg,
  modernize-shrink-to-fit,
  modernize-use-auto,
  modernize-use-bool-literals,
  modernize-use-emplace,
  modernize-use-nullptr,
  modernize-use-override,
  performance-*,
  readability-braces-around-statements,
  readability-const-return-type,
  readability-container-size-empty,
  readability-implicit-bool-conversion,
  readability-inconsistent-declaration-parameter-name,
  readability-misleading-indentation,
  readability-misplaced-const,
  readability-redundant-declaration,
  readability-redundant-smartptr-get,
  readability-string-compare

WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*|include/argparse-c/.*'
FormatStyle: file

CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: '1'
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key: cppcoreguidelines-init-variables.CheckAsUserAssigned
    value: true
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: true
